
.icon-right-small:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-video:before { content: '\e802'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
