@use "/src/sass/basic/variabels.scss" as *;

.buyedCourse {


    &__swag {
        display: grid;
        grid-template-columns: 3.4fr 1.5fr;

    }

    &__wrapper {
        padding: 50px 0 60px 0;
        background-color: $purple;
    }

    &__videosection {
        display: flex;
        flex-direction: column;
    }

    &__video {
        max-width: 1100px;
        height: 540px;
        background-color: $dark-grey;
        display: block;
    }

    &__user {
        display: flex;
        margin-top: 25px;
        gap: 15px;

        align-items: center;

        &-photo {
            width: 50px;
            height: 50px;
        }

        &-info {
            display: flex;
            flex-direction: column;
        }

        &-name {
            color: $white;
            font-size: 24px;
            font-weight: 400;
            line-height: 100%;
        }

        &-descr {
            color: $white;
            font-size: 16px;
            font-weight: 400;
            line-height: 100%;
        }
    }

    &__name {
        color: $white;
        font-size: 36px;
        font-weight: 400;
        line-height: 100%;
        margin-top: 33px;
    }

    &__descr {
        color: $white;
        font-size: 20px;
        font-weight: 400;
        line-height: 100%;
        margin-top: 30px;
    }

    &__list {
        padding-right: 10px;
        max-height: 810px;
        overflow-y: auto;
        background: transparent;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: $white;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: $purple;
            border-radius: 10px;
            border: 3px solid transparent;
            background-clip: content-box;
        }

    }

    &-item {
        border-radius: 10px;
        width: 100%;
        height: 90px;
        border: none;
        margin-top: 5px;

        &:nth-child(1) {
            margin-top: 0;
        }
    }

    &__subname {
        color: $ametist;
        font-size: 20px;
        font-weight: 400;
        line-height: 100%;
        text-align: left;
    }

    &__subdescr {
        color: rgba(0, 0, 0, 1);
        font-size: 20px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
    }
}