@use "/src/sass/basic/variabels.scss" as *;

.course {

    &__wrapper {
        background-color: $purple;
        padding: 32px 0 55px 0;
    }

    &__title {
        color: $white;
        font-size: 128px;
        font-weight: 400;
        line-height: 100%;
        text-align: center;
    }

    &__subtitle {
        color: $white;
        font-size: 36px;
        font-weight: 400;
        line-height: 100%;
        text-align: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        row-gap: 12px;

    }

    &__descr {
        color: $white;
        font-size: 36px;
        font-weight: 400;
        line-height: 100%;
        text-align: center;
    }

    &__block {
        column-gap: 50px;
        margin-top: 53px;
        display: flex;
        justify-content: space-around;
    }

    &__rizz {
        display: flex;
        flex-direction: column;
        row-gap: 72px;
    }

    &__characteristic {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 22px;
        column-gap: 20px;
    }


    .trainer__block {
        width: 300px;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

    .trainer__photo {
        width: 300px;
        height: 420px;
        background: rgba(217, 217, 217, 1);
    }

    .trainer__descr {
        color: $white;
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;

    }

    .video__block {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

    .video__descr {
        color: $white;
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
    }

    .video__block-main {
        display: flex;
        gap: 30px;
    }

    &__videoPlayer {
        width: 100%;
        height: 420px;
        background: rgba(217, 217, 217, 1);
    }

    &__btn {
        color: $white;
        width: 420px;
        height: 38px;
        border-radius: 10px;
        background: rgba(114, 60, 112, 1);
        border: none;
    }
}