@use "/src/sass/basic/variabels.scss" as *;

.footer {
    background: linear-gradient(0.00deg, rgba(92, 77, 125, 1), rgba(79.5903091430664, 65.87185668945312, 107.88461303710938, 1) 70%);
    padding: 50px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 200px;
        height: 100px;
        background-color: $dark-grey;
    }

    &__nav {
        ul {
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            list-style: none;

            li {
                padding: 15px 45px;
                border: 1px solid $white;

                a {
                    text-decoration: none;
                    color: $white;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 100%;
                    text-align: center;
                    cursor: pointer;
                }

                &:nth-child(1) {
                    border-width: 0 1px 1px 0;
                }

                &:nth-child(2) {
                    border-width: 0 0 1px 1px;
                }

                &:nth-child(3) {
                    border-width: 1px 1px 0 0;
                }

                &:nth-child(4) {
                    border-width: 1px 0 0 1px;
                }
            }
        }
    }

    &__media {
        ul {
            padding: 0;
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr;

            li {
                border: 1px solid $white;
                padding: 15px 20px;


                a {
                    text-decoration: none;
                    color: $white;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 100%;
                    text-align: center;
                    cursor: pointer;

                }

                &:nth-child(1) {
                    border-width: 0 1px 1px 0;
                }

                &:nth-child(2) {
                    border-width: 0 0 1px 1px;
                }

                &:nth-child(3) {
                    border-width: 1px 1px 0 0;
                }

                &:nth-child(4) {
                    border-width: 1px 0 0 1px;
                }

            }
        }
    }
}