@use "/src/sass/basic/variabels.scss" as *;

.newsletter {
    background-color: $purple;
    padding: 103px 0 250px 0;

    &__title {
        color: $white;
        font-size: 96px;
        font-weight: 400;
        line-height: 100%;
        text-align: center;
    }

    &__subtitle {
        color: $white;
        font-size: 24px;
        font-weight: 400;
        line-height: 100%;
        text-align: center;
        margin-top: 101px;
    }

    &__form {
        margin: 161px auto 0 auto;
        max-width: 800px;
    }

    &__input {
        background-color: $white;
        border: none;
        border-radius: 5px;
        width: 100%;
        height: 50px;
        padding: 10px 493px 12px 20px;

        &::placeholder {
            color: $black;
            font-size: 24px;
            font-weight: 400;
            line-height: 100%;
            opacity: 0.6;
        }

        &:focus {
            outline: 0;
        }
    }

    &__descr {
        color: $white;
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        text-align: center;
        margin-top: 160px;
    }

}