@use "/src/sass/basic/variabels.scss" as *;

.promo {
    &__wrapper {
        position: relative;
        background: url("/src/img/bg/bg.png") center center / cover no-repeat;
        padding: 180px 0 280px 0;
    }

    &__title {
        position: relative;
        color: $white;
        font-size: 128px;
        font-weight: 400;
        line-height: 120%;
        z-index: 100;


        span {
            text-transform: uppercase;
            color: $red;
        }

    }

    &__buttons {
        margin-top: 108px;
        display: flex;
        column-gap: 50px;

    }

    &__moving {
        color: $white;
        font-size: 20px;
        font-weight: 400;
        line-height: 100%;
        background-color: $red;
        border: 2px solid $red;
        padding: 13px 15px;
        cursor: pointer;
        z-index: 100;

        span {
            padding-left: 15px;
        }
    }

    &__browse {
        color: $black;
        font-size: 20px;
        font-weight: 400;
        line-height: 100%;
        border: 2px solid $red;
        border-radius: 5px;
        background: $white;
        padding: 13px 23px;
        cursor: pointer;
        z-index: 100;
    }

    &__opacity {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(47, 47, 47, 0.95);
        opacity: 1;
        top: 0;
    }
}