@use "/src/sass/libs/modern-normalize.css";
@use "/src/sass/basic/basic.scss";
@use "/src/fonts/fontello-3b12f7b4/fontello-3b12f7b4/css/fontello.css";


@use"/src/sass/blocks/header.scss";
@use"/src/sass/blocks/promo.scss";
@use"/src/sass/blocks/courses.scss";