@use "/design/src/sass/libs/modern-normalize.css";
@use "/design/src/sass/basic/basic.scss";
@use "/design/src/fonts/fontello-3b12f7b4/fontello-3b12f7b4/css/fontello.css";


@use"/design/src/sass/blocks/header.scss";
@use"/design/src/sass/blocks/promo.scss";