@use "/src/sass/libs/modern-normalize.css";
@use "/src/sass/basic/basic.scss";
@use "/src/fonts/fontello-efd507f0/fontello-efd507f0/css/fontello.css";


@use "/src/sass/blocks/header.scss";
@use "/src/sass/blocks/promo.scss";
@use "/src/sass/blocks/courses.scss";
@use "/src/sass/blocks/why.scss";
@use "/src/sass/blocks/coaches.scss";
@use "/src/sass/blocks/newsletter.scss";
@use "/src/sass/blocks/course.scss";
@use "/src/sass/blocks/coursesList.scss";