
.icon-right-small:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-video:before { content: '\e802'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
